<footer class="bg-gray-800 min-h-20 py-8">
    <div class="container">
        {% if logo_footer %}
            <img class="h-10" src="{{ logo_footer }}" alt="">
        {% endif %}
    </div>
</footer>